#homepage-container  {

  .resume-container {
    position: absolute;
    height: 100%;
    width: 94%;
    top: 0;
    bottom: 0;
    z-index: 500;

    @media only screen and (max-width: 960px) {
      width: 100%;
    }

    h3 {
      // font-size: $font-size192;
      font-size: clamp(7rem, 5.182rem + 9.09vw, 12rem);
      text-align: center;

      @media only screen and (max-width: 1460px) {
        font-size: clamp(7rem, 5rem + 6vw, 12rem);
      }

      @media only screen and (max-width: 1180px) {
        position: absolute;
        bottom: 10%;
        font-size: clamp(7rem, 5rem + 4vw, 12rem);
      }

      @media only screen and (max-width: 960px) {
        position: absolute;
        font-size: clamp(7rem, 5rem + 6vw, 12rem);
        bottom: 10%;
      }
    }

    h4:not(.title-section, .title-tab) {
      font-size: $font-size16;
      position: relative;
      text-align: center;
    }
  }

  .resume-container-slide-up {
    animation: resumeContainerSlideUp 8s ease-out forwards;

    @keyframes resumeContainerSlideUp {
      to {
        transform: translateY(-100vh);
      }
    }
  }

  .resume-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 40% 40%;
    top: 50%;
    transform: translateY(-50%);
    @extend %transition-medium-all;

    @media only screen and (max-width: 1180px) {
      height: 90%;
      top: 0;
      transform: translateY(0);
      overflow: hidden;
    }
  }

  .skills-container {
    height: 98%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @extend %transition-medium-all;

    @media only screen and (max-width: 1520px) {
      max-height: 495px;
    }

    @media only screen and (max-width: 1180px) {
      width: calc((100% / 3) - .5em);
      position: absolute;
      left: 0;
      top: 0;
    }

    @media only screen and (max-width: 960px) {
      top: 12%;
      max-height: 495px;
    }
  }

  .title-section {
    position: relative;
    text-align: center;

    @media only screen and (max-width: 1180px) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: $color-accent;
      bottom: 0;
      left: 0;
    }
  }

  .tab-container {
    display: none;
    height: 100%;
    width: 100%;
    @extend %transition-medium-all;

    @media only screen and (max-width: 1180px) {
      display: block;
    }
  }

  .tab-wrapper {
    position: relative;
    height: 10%;
    width: 100%;
    @extend %transition-medium-all;

    @media only screen and (max-width: 720px) {
      height: 8%;
    }

    @media only screen and (max-width: 520px) {
      height: 6%;
      margin-top: .5em;
    }

    @media only screen and (max-width: 450px) {
      height: 5%;
    }

    .crossline {
      position: absolute;
      font-size: 1.5rem;
      color: $color-accent;
      opacity: 1;
      visibility: visible;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      cursor: pointer;
      @extend %transition-speed-all;

      &:hover {
        transform: translate(0, -50%) scale(1.2);
      }

      @media only screen and (max-width: 720px) {
        font-size: $font-size19;
        right: 0;
      }

      @media only screen and (max-width: 450px) {
        font-size: $font-size16;
      }
    }
  }

  .crossline-rotation {
    animation: crosslineRotation .5s ease-in-out forwards;

    @keyframes crosslineRotation {
      to {
        transform: translate(0, -50%) rotate(45deg);
      } 
    }
  }

  .title-tab {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 $space-tiny1;
    transition: all .3s ease-in-out;

    @media only screen and (max-width: 720px) {
      font-size: $font-size12;
    }

    @media only screen and (max-width: 520px) {
      font-size: $font-size09;
    }

    @media only screen and (max-width: 450px) {
      font-size: .5em;
      padding: 0;
    }
  }

  .title-tab-visited {
    color: $color-accent;
  }

  .tab-underline {
    position: absolute;
    height: 1px;
    width: 100%;
    background: $color-accent;
    bottom: 0;
    right: 0;
  }

  .skills-wrapper-responsive {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transform: translate(100%, -120%);
    padding-top: 2em;
    @extend %transition-medium-all;

    @media only screen and (max-width: 450px) {
      width: 150%;
      transform: translate(50%, -120%);
    }
  }

  .skills-wrapper-responsive-show {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: translate(100%, 0);

    @media only screen and (max-width: 450px) {
      width: 150%;
      transform: translate(50%, 0);
    }
  }

  .skills-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 1em;

    @media only screen and (max-width: 1180px) {
      display: none;
    }
  }

  .skills-content {
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
  }

  .logo-container {
    width: 15px;
    @extend %flex-center;

    i {
      height: 100%;
      color: $color-accent;
    }

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .skill-cursor {
    height: 100%;
    width: 150px;
    border: 1px solid $bg-light-dark; 
    border-radius: 2px;
    padding: 3px;
    margin-left: 0.5em;
    overflow: hidden;
  }

  .skill-level {
    height: 100%;
    background: $bg-accent;
  }

  .html-level,
  .css-level,
  .scss-level {
    width: 85%;
    transform: translateX(-100%);
  }

  .html-level-responsive,
  .css-level-responsive,
  .scss-level-responsive {
    width: 85%;
  }

  .js-level,
  .git-level,
  .github-level {
    width: 70%;
    transform: translateX(-100%);
  }

  .js-level-responsive,
  .git-level-responsive,
  .github-level-responsive {
    width: 70%;
  }

  .node-level,
  .react-level {
    width: 60%;
    transform: translateX(-100%);
  }

  .node-level-responsive,
  .react-level-responsive {
    width: 60%;
  }

  .psd-level,
  .ai-level,
  .id-level {
    width: 90%;
    transform: translateX(-100%);
  }

  .psd-level-responsive,
  .ai-level-responsive,
  .id-level-responsive {
    width: 90%;
  }

  .formation-container {
    height: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 $space-small2;
    @extend %transition-medium-all;

    @media only screen and (max-width: 1520px) {
      max-height: 495px;
    }

    @media only screen and (max-width: 1180px) {
      width: calc((100% / 3) - .5em);
      position: absolute;
      left: 34%;
      top: 0;
      padding: 0;
    }

    @media only screen and (max-width: 960px) {
      top: 12%;
    }
  }

  .formation-container-full-width {
    width: 100%;
    left: 0;
    z-index: 500;
  }

  .formation-wrapper-responsive {
    width: 50vw;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    transform: translate(-15%,-120%);
    @extend %transition-medium-all;

    @media only screen and (max-width: 960px) {
      height: 100%;
      max-height: 380px;
      padding-right: 2em;
      transform: translate(-25%,-120%);
    }

    @media only screen and (max-width: 825px) {
      width: 55vw;
      transform: translate(-30%,-120%);
    }

    @media only screen and (max-width: 720px) {
      width: 70vw;
    }

    @media only screen and (max-width: 590px) {
      width: 88vw;
      transform: translate(-33%,-120%);
    }

    @media only screen and (max-width: 450px) {
      width: 85vw;
    }
  }

  .formation-wrapper-responsive-show {
    opacity: 1;
    visibility: visible;
    transform: translate(-15%,0);

    @media only screen and (max-width: 960px) {
      transform: translate(-25%,0);
    }

    @media only screen and (max-width: 825px) {
      transform: translate(-30%,0);
    }

    @media only screen and (max-width: 590px) {
      transform: translate(-33%,0);
    }
  }

  .formation-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: scroll;

    @media only screen and (max-width: 1520px) {
      padding-right: 2em;
    }

    @media only screen and (max-width: 1180px) {
      display: none;
    }
  }

  .formation-content {
    width: 100%;
    display: flex;
    padding-top: $space-small1;
  }

  .formation-content-first {
    padding-top: 3em;
  }

  .formation-content-last {
    padding-bottom: 3em;
  }

  .date-content {
    position: relative;
    padding-right: $space-small1;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1px;
      background: $bg-accent;
      top: 0;
      right: 0;
    }
  }

  .date-color-accent {
    color: $color-accent;
  }

  .experience-container {
    height: 98%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @extend %transition-medium-all;

    p {
      text-align: justify;
    }

    p:not(.title-paragraph) {
      padding-top: $space-tiny1;
    }

    @media only screen and (max-width: 1520px) {
      justify-content: space-between;
      max-height: 495px;
    }

    @media only screen and (max-width: 1180px) {
      width: calc((100% / 3) - .5em);
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      z-index: 10;
    }

    @media only screen and (max-width: 960px) {
      top: 12%;
    }
  }

  .experience-container-full-width {
    width: 100%;
    right: 0;
    z-index: 500;
  }

  .experience-container-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .experience-wrapper-responsive {
    max-height: 340px;
    width: 50vw;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    transform: translate(-75%, -120%);
    @extend %transition-medium-all;
    overflow-y: scroll;

    @media only screen and (max-width: 1180px) {
      padding-top: 1em;
    }

    @media only screen and (max-width: 1110px) {
      padding-right: 2em;
    }

    @media only screen and (max-width: 960px) {
      width: 93vw;
      padding-right: 1em;
      transform: translate(-68%, -120%);
    }

    @media only screen and (max-width: 650px) {
      width: 90vw;
    }

    @media only screen and (max-width: 520px) {
      width: 88vw;
    }

    @media only screen and (max-width: 430px) {
      width: 84vw;
    }
  }

  .experience-wrapper-responsive-show {
    opacity: 1;
    visibility: visible;
    transform: translate(-75%, 0);

    @media only screen and (max-width: 960px) {
      transform: translate(-68%, 0);
    }
  }

  .experience-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
    overflow-y: scroll;

    @media only screen and (max-width: 1520px) {
      padding-right: 2em;
    }

    @media only screen and (max-width: 1180px) {
      display: none;
    }
  }

  .experience-content,
  .experience-content-responsive {
    display: flex;
  }

  .experience-content1 {
    margin-bottom: 1em;

    @media only screen and (max-width: 960px) {
      padding-top: 2em;
    } 
  }

  .experience-content2 {
    @media only screen and (max-width: 1110px) {
      padding-bottom: 3em;
    }
  }

  .text-content {
    padding-left: $space-small1;

    p {
      font-size: $font-size16;

      @media only screen and (max-width: 720px) {
        text-align: left;
      }
    }
  }

  .title-paragraph {
    width: fit-content;
    position: relative;
    text-transform: uppercase;
    
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      background: $color-accent;
      bottom: 0;
      left: 0;
    }
  }

  .resume-title,
  .skills-container,
  .formation-container,
  .experience-container,
  .resume-arrow {
    @extend %item-hidden;
    transform: translateY(100vh);
  }

  .resume-title-slide-up {
    animation: resumeTextsSlideUp 5s ease-out forwards;

    @keyframes resumeTextsSlideUp {
      0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100vh);
      }
      100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  .resume-title-slide-up2 {
    animation: resumeTextsSlideUp2 12s ease-out forwards;

    @keyframes resumeTextsSlideUp2 {
      0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100vh);
      }
    }
  }

  .skills-container-slide-up {
    animation: resumeTextsSlideUp 3s ease-out 1s forwards;
  }

  .skills-container-slide-up2 {
    animation: resumeTextsSlideUp2 5s ease-out forwards;

    @keyframes resumeTextsSlideUp2 {
      0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100vh);
      }
    }
  }

  .skill-level-full-width {
    animation: skillLevelFullWidth 2.5s ease-out 5s forwards;

    @keyframes skillLevelFullWidth {
      to {
        transform: translateX(0);
      }
    }
  }

  .formation-container-slide-up {
    animation: resumeTextsSlideUp 3.5s ease-out 1.5s forwards;
  }

  .formation-container-slide-up2 {
    animation: resumeTextsSlideUp2 5.5s ease-out forwards;
  }

  .experience-container-slide-up {
    animation: resumeTextsSlideUp 3s ease-out 2s forwards;
  }

  .experience-container-slide-up2 {
    animation: resumeTextsSlideUp2 6s ease-out forwards;
  }

  .resume-arrow-slide-up {
    animation: resumeTitleSlideUp 2.5s ease-out forwards;

    @keyframes resumeTitleSlideUp {
      0%{
        opacity: 0;
        visibility: hidden;
        transform: translateY(100vh);
      }
      20% {
        opacity: 1;
        visibility: visible;
      }
      100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}