#homepage-container {
  .works-container {
    position: absolute;
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 $space-small2;
    top: 0;
    left: 0;

    @media only screen and (max-width: 960px) {
      height: 80%;
      width: 100%;
      bottom: 0;
      top: unset;
      padding: 0;
    }

    @media only screen and (max-width: 740px) {
      bottom: -6%;
    }

    h3 {
      // font-size: $font-size160;
      font-size: clamp(7rem, 5.182rem + 9.09vw, 10rem);
      text-align: center;

      @media only screen and (max-width: 1290px) {
        font-size: clamp(7rem, 5rem + 4vw, 10rem);
      }

      @media only screen and (max-width: 740px) {
        width: 100%;
        text-align: start;
      }
    }
  }

  .works-title {
    opacity: 0;
    visibility: hidden;
  }

  .works-title-slide-show {
    animation: worksTitleSlideShow 4s ease-out 1.5s forwards;
    
    @keyframes worksTitleSlideShow {
      to {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .projects-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    @media only screen and (max-width: 960px) {
      height: 60%;
    }

    @media only screen and (max-width: 740px) {
      overflow: visible;
    }
  }

  .gallery-wrapper {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    touch-action: pan-x;

    @media only screen and (max-width: 1290px) {
      max-height: 80%;
    }

    @media only screen and (max-width: 960px) {
      max-height: 100%;
    }
  }

  // .projects-wrapper {
  //   height: 70%;
  //   width: 96%;
  //   display: grid;
  //   grid-template-rows: 1fr;
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: $space-small2;
  //   flex: none;
  //   margin: 0 1em;

  //   @media only screen and (max-width: 740px) {
  //     width: 100%;
  //     gap: $space-small1;
  //   }
  // }

  .website1,
  .website2,
  .website3,
  .website4,
  .website5,
  .website6 {
    opacity: 0;
    visibility: hidden;
  }

  .website1-show {
    animation: websiteShow 5s ease-in-out 1.5s forwards;
    
    @keyframes websiteShow {
      to {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .website2-show {
    animation: websiteShow 5s ease-in-out 2s forwards;
  }

  .website3-show {
    animation: websiteShow 5s ease-in-out 2.5s forwards;
  }

  .project-content {
    position: relative;
    height: 100%;
    width: calc((100% / 3) - 2em);
    flex: none;
    background: $bg-light-dark;
    border: 1px solid $bg-accent;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin: 0 1em;

    @media only screen and (max-width: 740px) {
      width: 250px;
    }

    img {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 80%;
      background: $bg-light;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: all 0.5s ease-in-out;
      z-index: 5;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: $bg-accent;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease-in-out;
    }

    &:hover {
      border: 1px solid $bg-light;
    }

    &:hover::before {
      transform: translate(-50%, -50%) scale(1);
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    &:hover .project-title {
      top: 50%;
      transform: translate(-50%, -150%);
    }

    &:hover .project-subtitle {
      bottom: 50%;
      transform: translate(-50%, 150%);
    }

    &:hover .project-icons-container {
      opacity: 1;
      visibility: visible;
    }
  }

  .project-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: all 0.5s ease-in-out;
    z-index: 5;
  }

  .project-subtitle {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: all 0.5s ease-in-out;
    z-index: 5;
  }

  .project-icons-container {
    position: absolute;
    width: 40%;
    display: flex;
    justify-content: space-around;
    color: $color-light;
    background: $bg-accent;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    z-index: 50;
  }

  .inprogess-title {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .underline-content {
    position: absolute;
    width: 100%;
    overflow-x: hidden;
  }

  .underline-top {
    top: 20px;
  }

  .underline-high-full-width {
    animation: underlineFullWidth 4.5s ease-out .5s forwards;
    
    @keyframes underlineFullWidth {
      to {
        transform: translateX(0);
      }
    }
  }

  .underline-bottom {
    bottom: 20px;
  }

  .underline-low-full-width {
    animation: underlineFullWidth 4.5s ease-out forwards;
  }

  .chevron-slider {
    position: absolute;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $bg-dark;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 $space-tiny1;
    z-index: 10;

    @media only screen and (max-width: 1290px) {
      width: 11%;
    }

    @media only screen and (max-width: 740px) {
      display: none;
    }
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: $font-size24;
    color: $color-accent;
    opacity: 0;
    visibility: hidden;
    transform: scale(1);
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.3);
    }
  }

  .chevron-show {
    animation: chevronShow 1s ease-in-out 1.5s forwards;

    @keyframes chevronShow {
      to {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .underline {
    height: 1px;
    width: 100%;
    background: $bg-accent;
    transform: translateX(-100%);
  }

  .scroll-dot-container {
    position: absolute;
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media only screen and (max-width: 740px) {
      display: none;
    }
  }

  .scroll-dot {
    height: 10px;
    width: 10px;
    background: $bg-light-dark;
    border: 1px solid $bg-accent;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
  }

  .scroll-dot.active {
    background: $bg-accent;
  }
  
  .scroll-dot-show {
    animation: scrollDotShow 3s ease-in-out .5s forwards;
    
    @keyframes scrollDotShow {
      to {
        opacity: 1;
        visibility: visible;
      } 
    }
  }
}